@import "../../styles/mixins";
@import "../../styles/variables";

.component {
  //flex-direction: column;
  // @include flex;
  // flex-direction: column;
  // align-items: stretch;
}

/* search */
.search {
  @include flex(flex-start, stretch);
  flex: none;
  margin-bottom: 5px;
  background: fade-out($theme_dark_black_color, 0.5);
  border-radius: 5px;
  height: 40px;

  label {
    @include flex;
  }

  i {
    margin: 0 15px;
  }

  input {
    flex: 1;
  }
}

/* feedback */
.feedback {
  text-align: center;
}

/* assets */
.list {
  flex: 1;
  overflow-y: auto;
  // height: 307px;
  // max-height: 307px;
  height: 305px;
  max-height: 305px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 1px !important;
  background-color: transparent;
  display: block;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: $theme_black_border_color;
  border-radius: 6px;
}

.button {
  padding: 5px;
  width: 100%;
display: flex;
align-items: center;
padding-left: 5px;

@include mobile{
  padding-left:10px;
}
img{margin-right:10px; margin-left:10px;}
  &.selected,
  &:not(.disabled):hover {
    background: fade-out(white, 0.95);
  }

  &.disabled {
    opacity: 0.3;
  }
}

.dim {
  opacity: 0.3;
}
.quick_title{
  font-size: 12px;
}
