@import "../../styles/mixins";
@import "../../styles/variables";

.assetsContainer {
  display: flex;
  background: $theme_light_black_color;

  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  border-radius: 15px;
  max-width: 100%;
  //max-width: 550px;
  height: 215px;
  padding: 4px;
  justify-content: center;
  
  .imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    .coinImage {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background-color: black;
      border-radius: 50px;
      vertical-align: middle;
    }
  }
.valuesContainerChart{
  .itemWrapper{
    padding-top: 1px !important;
    margin-top: 5px;
  }
}
  .valuesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    @media  only screen and (max-width: 420px) {
      justify-content: center;
      width: unset;
      margin-left: 20px;
    }
    .itemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 17px;
      align-items: flex-start;
      .Style{
        font-family: Lexend;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        text-transform: capitalize;
        padding-left:4px

      }
      .textStyle {
        font-family: Lexend;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        text-transform: capitalize;

        color: #01cdfd;
      }
      .comingSoon{
          font-family: Lexend;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          text-transform: capitalize;
  
          color: #01cdfd;
      }
      .dflex{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      }
    }
  }
}


.assetsContainerLoading {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding: 0;
  
  .imageWrapper{
    width: 20%;
  }
  .imageWrapperChart{
    width: 30%;
  }
  .valuesContainer{
    width: 70%;
  }
   .imageWrapper , .valuesContainer{
    margin: 10px;  
  }

  .row{
    display: flex;
    flex-direction: row;
  }
}
.emptyAssets{
  justify-content: center !important;
  margin-bottom: 15px;
}