@import "../../../styles/mixins";
@import "../../../styles/variables";

.card {
  box-shadow: none;
}
.cardMini{
  box-shadow: none !important;
  .main{
    display: none;
  }
  border-radius: 0 !important;
}
.airdropBox{
  margin-top:250px
}
@media only screen and (max-width: 768px) {
  .airdropBox{
    margin-top:45px
  }
}
.fee{
  display: flex;
  flex-direction: row;
}
.approx{
  content: "\2245";
}

.poolSwap {
  display: flex;
  gap: 40px;
  @include mobile {
    display: block;
  }
  .impact {
    margin-right: auto;
    width: 100%;
    .confirm_list {
      background:#2D2D2D !important;
      article {
        display: block;
        p {
          text-align: left;
        }
        button {
          display: none;
        }
      }
      span {
        color: #01CDFD !important;
      }
    }
  }
  button {
    margin-top: 0px;
  }
}