@import "../../styles/mixins";

.portfoliotablerow {
  :hover {
    cursor: pointer;
  }
  .holdings {
    flex-direction: column;
  }
}
.marketTable .marketHeader {
  display: flex;
  justify-content: space-between;
}

.marketTable .marketTrade{position: absolute;
  right: 20px;
  top: 15px;
  //background: #c83e93;
  width: 180px;
  height: 42px;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  justify-content: center;}
.marketTable{
  width: 893px!important;
  //margin: 100px auto auto!important;
  //background: #1b1b1b;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
.marketTable h3{padding-top: 15px;
  //padding-left: 20px;
  color: #fff;
  font-size: 19px;}
.marketTable span{    padding-top: 5px;
  //padding-left: 20px;
  color: #919191;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  //padding-bottom: 15px;
  //display: block;
}
 
.marketTable table{margin:0;
  //min-height: 480px;
  border-radius: 15px;
  //border-top: 1px solid #333;
  //background: #1b1b1b;
  background: rgb(0 0 0 / 20%);
  margin-top: 20px;
}
.marketTable table thead{margin:0; font-weight: 100 !important;}
.marketTable table thead tr{background-color: #1b1b1b00 !important;}
.marketTable table thead tr td{padding: 12px 10px; color: #919191; text-align: right;}
// .marketTable table thead tr td:nth-child(1){padding-left:50px !important;}
.marketTable table tr{margin:0;}
.marketTable table tbody tr{height: 80px;}
.marketTable table tr td div{display: flex;
  align-items: center; color: #fff;}
.marketTable table tr td div img{margin-right:10px;}
.marketTable table tr td div a{margin:0;}
.marketTable table tr td div a button{
  margin: 0;
  padding: 0!important;
  width: 24px;
  height: 24px;
  background: rgba(45,45,45,.35)!important;
  border-radius: 100px;
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 5px;}
  .marketTable table tr td:last-child a button{    background: rgba(45,45,45,.35)!important;
    border: none!important;
    border-radius: 5px;
    padding: 3px 15px;
    color: #c83e93 !important;
    font-weight: 400;
    font-size: 14px;}
.marketTable table tr:nth-child(odd){ background: #1313138c;}
.marketTable table tr td:nth-child(1){
  padding-left:30px;
  text-align: left;
  width: 400px;
}
.marketTable table tr td:nth-child(2){padding-right:50px;}
.marketTable table tr td:nth-child(n+3):nth-child(-n+6){ width:80px; text-align: right;}
.marketTable table tr td:nth-child(7){
  text-align: right;
  width: 200px;
  @media (max-width: 1900px) {
    padding-right:50px;
  }
}
.marketTable table tr td{
  //padding:8px 0;
  text-align: right;
}

.learn_btn{
  background: rgb(255 255 255 / 7%);
  border-radius: 5px !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 9px !important;
  text-transform: uppercase !important;
  height: 25px;
  padding: 5px 15px !important;
  border: 0;
  margin: 10px;
  &:hover {
    background: #d8379a;
  }
}

.btn.addTokenBtn{
    background: linear-gradient(90.24deg, #FA2CAB -1.6%, #9B69FC 99.79%), #FA2CAB;
    border-radius: 5px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    width: 100px;
    height: 35px;
    padding: 5px 15px !important;
    border: 0;
    &:hover {
      background: #FA2CAB;
    }
  }

  .btn {
    padding-left: 10px;

  }

  .marketHeader_right_search{
    padding: 10px;
    //margin-left: 20px;
    margin-left: auto;
    margin-top: 20px;
    background: #1B1B1B;
    border-radius: 10px;
    height: fit-content;

    .search_icon {
      padding-right: 3px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .marketHeader_right{
    padding: 10px 6px;
    margin-left: auto;
    margin-top: 20px;
    background: #1B1B1B;
    border-radius: 15px;
    height: fit-content;
    span {
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }
    .active {
      color: #fff;
      background: #2D2D2D;
      border-radius: 10px;
      padding: 7px 10px;
    }
  }
  
  
  
  body .staking-table.token-table-cz tr td {
      padding: 15px 10px !important;
  }
  body .markets {
      margin-bottom: 100px !important;
  }
  .cz-tokens-mobile > div > div:last-child {
      border-radius: 0 0 10px 10px;
  }
  .cz-tokens-mobile > div > div .cz-tokens-mobile-td.cz-left-td:nth-child(2) button {
      width: auto;
  }
  .BtnTrade {
    clear: both;
    width: 100%;
  }
  .labeling {
    padding: 0 !important;
  }
  .staking-table.token-table-cz tr td div p {
    width: 130px;
  }
  
  
  .marketUp {
    color: #32FE9A !important;
    padding-left: 10px;
  }
  .marketUp::before {
    content: '';
    float: left;
    display: block;
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8, <svg width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 2.62268e-07L6 5L4.76837e-07 5L3 2.62268e-07Z" fill="%2332FE9A"/></svg>');
    position: absolute;
    left: -5px;
    top: 7px;
    //top: 32px;
  }
  
  @media(max-width:1024px){
    .marketUp::before {
      top: 24px;
    }
  }
  
  @media(max-width:991px){
    .marketTable{display: none;}
  }
  
  @media(max-width:600px){
    body .cz-tokens-mobile-td .ui.grid img.ui.image {
      width: 30px !important;left: 5px;
    }
    .cz-tokens-mobile-td .ui.grid {
      padding: 0px 0 5px 40px !important;
    }
    .markets h3 {
      font-size: 20px !important;
    }
    .cz-tokens-mobile-tr .markets span {
      font-size: 14px !important;
    }
  }

  .mobile_main {
    @include desktop {
      display: none;
    }
    background: rgb(27 27 27 / 50%);
    //background: #1B1B1B;
    //padding: 20px 20px;
    border-radius: 20px 20px;

    .mobile_header_table tr{
      color: #919191;
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      //letter-spacing: 0.05em;
      text-transform: uppercase;
      td {
        padding: 25px 15px 25px 15px;
        width: 50%;
        &:nth-child(1) {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }

    .cz_tokens_mobile {
      margin: 0px auto 10px !important;
      border-radius: 10px;
      overflow: auto;
      display: block;
      width: 100%;
    }
    .portfoliotablerow {
      td{
        padding: 20px 10px;
      }
      .price {
        text-align: right;
        padding: 20px;
      }
    }
    table tbody tr:nth-child(odd){ background: rgb(19 19 19 / 60%);}
    table thead tr{background-color: #1b1b1b00 !important;}

    .token_name {
      font-weight: 700;
      font-size: 16px;
      padding-left: 10px;
      //width: max-content;
      width: fit-content;
      .token_symbol {
        margin-left: 4px;
        color: #919191;
        font-weight: 100;
      }
      small {
        color: #919191;
        font-weight: 100;
      }
    }
    .btn {
      background: rgba(45,45,45,.35)!important;
      border: none!important;
      border-radius: 5px;
      padding: 3px 15px;
      margin-top: 10px;
      color: #c83e93!important;
      font-weight: 400;
      font-size: 14px;
    }
    .marketHeader_right_search{
      background: rgb(19 19 19 / 60%) !important;
      .search_icon {
        padding-right: 5px;
        padding-top: 2px;
      }
    }
  }
  .cz_tokens_mobile_header {
    padding: 20px 20px;
    border-bottom: 1px solid #2D2D2D;
    h3 {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 15px;
      color: #fff;
    }
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: #919191;
    }
    .marketHeader_right_search{
      padding: 10px;
      margin-left: 0;
      .search_icon {
        float: left;
      }
    }
  }

  .marketLoader{
    position: absolute;
    left: 48%;
    top: 46%;
  }