

.pairWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.seprator{
    padding-left: 4px;
    padding-right: 4px;
}
.tokenNames{
    padding-left: 4px;
}