@import "../styles/mixins";
@import "../styles/variables";

.card {
  box-shadow: none;
}
.cardMini {
  box-shadow: none !important;
  .main {
    display: none;
  }
  border-radius: 0 !important;
}
.airdropBox {
  margin-top: 250px;
}
@media only screen and (max-width: 768px) {
  .airdropBox {
    margin-top: 45px;
  }
}
.fee {
  display: flex;
  flex-direction: row;
}
.approx {
  content: "\2245";
}

.poolSwap {
  width: 20%;
}
.checkbox {
  float: right;
  margin-top: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  label{
    cursor: pointer;
  }
  .box {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    border: 1.5px solid #9bb0cf;
    // box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
