.line {
  fill: none;
  stroke: #999999;
  stroke-width: 2.2;
}

.up {
  .line {
    stroke: #32FE9A;
  }
}

.down {
  .line {
    stroke: #C83E93;
  }
}
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: #8f8f8f;
    stroke: #fff;
  }
  
  .focus circle {
    fill: none;
    stroke: steelblue;
  }
  