@import "../styles/mixins";
@import "../styles/variables";

.wrapper {
  position: relative;
}
.headerLoop .description{display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
.headerLoop a{width: 138px;
  height: 42px;
  color: black !important;
  margin-top: 10px
}
.headerLoop{border-bottom: 1px solid #2d2d2d;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.cardLoop{ margin:50px 15px;}
.farm_airdrop_2{max-width: 100% !important;}
.walletLoop{background: #1B1B1B;
  width:100%;
  border-radius: 15px;}
  .walletLoop p{padding: 15px 40px; color:#bbb;}
.card {
    // padding: 17px;
    // background: #1b1b1b;
    // border-radius: 10px;
    // box-shadow: 0px 4px 60px rgba(244,110,193,0.7);
    // width: 228px;
    // margin: 245px auto 0;
    // position: relative;

    padding: 44px;
    background: #1b1b1b;
    border-radius: 15px;
    box-shadow: 0px 4px 60px rgba(244,110,193,0.7);
    width: 290px;
    height: 325px;
    margin: 210px auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
}


.wallet {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  i {
    margin-right: 5px;
  }
  a{    width: 138px;
    height: 42px;
    margin: 0 auto;
    font-weight: 100;
    color: #000 !important;
    background-color: #C83E93 !important;
  }
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.close{
  cursor: pointer;
  transform: rotate(
45deg
);
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 15px;
}
.header_airdrop{
  & div {
    margin: 10px 0;
  }
}
.airdrop{
  font-weight: normal;
  align-self: center;
  font-size: 12px;
}
.address {
  @include flex;
  font-weight: normal;
  align-self: center;
  font-size: 12px;;
}
.description{
  color: white;
  font-size: 17px;
  align-self: center;
  font-weight: 700;
}

.disconnect {
  font-size: 10px;
}

.actions {
  @include flex(space-between);
  font-size: 12px;

  .button {
    @include flex;
    @include link($blue, lighten($blue, 25%));
    text-decoration: none;
  }

  i {
    font-size: 14px;
  }
}

.send {
  margin-top: 20px;
}

.airdrop_icon{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 10px;
}
.airdrop_icon img{max-width:80px;}
.eligible{
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .headerLoop{
    padding:15px;
  }
  .walletLoop p{padding: 15px ;}
}
.container{
  display: flex;
  width: 100% !important;
  max-width: 100%;
  align-items: center;
  justify-content: center;

  .section{
    display: flex;
    width: 80% !important;
    flex-direction: column;
    max-width: 80%;
  }
}
/*.claimFarmDiv{
  margin: 30px;
}*/
.claimFarmContainer{
  padding: 30px;
  margin: 10px 0;
}
.claimFarmMsg{
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 1px;

  p{
    padding: 0;
    margin: 0;
  }
}
.claimFarmBtn{
  display: flex;
  flex: 1;
  margin: 0 !important;
  //margin-top: 0 !important;

  a{
    display: flex;
    height: auto;
    padding: 5px;
    max-width: 150px;
    text-align: center;
  }
}
.page{
  width: 100%;
}
.claimButton{
  margin-left: 0 !important;
}