@import "../../styles/mixins";

.sm {
  @include flex;
  flex-direction: column;
  align-items: stretch;
  flex: 2;

  > * {
    flex: 1;
  }
}

.lg {
  flex: 5;
}
.static_card{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
}
