@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.component {
  padding: 3px;
  width: 96px;
  height: 47px;
  // background: rgba(45, 45, 45, 0.35);
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  // border-radius: 10px;
  // font-weight: 200;
  // font-size: 12px;
  text-align: center;
  background: rgba(45, 45, 45, 0.35);
  /* MAGENTA #C83E93 */
  border: 1px solid #c83e93;
  box-sizing: border-box;
  border-radius: 5px;
  // span {
  // }
}

.value {
  .header {
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }
  .sub span {
    display: block;
    font-size: 10px;
    border-left: dotted;
    text-align: left;
    padding-left: 5px;
    color: #919191;
  }
}
.addToFarm {
  font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
flex: none;
order: 0;
flex-grow: 0;
  color: #fff !important;
}
.Apy {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 21px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #b93b88 !important;
  margin-top: -2px;
}
.noFarm {
  text-align: center !important;
  width: 96px;
  height: 47px;
  padding: 3px;
  background: rgba(45, 45, 45, 0.35);
  border-radius: 5px;
  padding-top: 12px;
}
.addFarmBtn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.modal{
  padding: 20px !important;
  width: 700px !important;
}