@import "../styles/mixins";
canvas {
  max-width: 100%;
}
.tradingCard {
  padding: 10px;
  .Card {
    padding: 0 !important;
  }
}
.assetsValue {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #2e2e2e;
  padding: 0 12px;
}
.AssetSearching {
  display: flex;
  align-items: center;
  padding: 0 5px;
  // position: relative;
  margin-bottom: 8px;
}

.AssetSearching input {
  padding: 15px;
  background: #2c2c2c;
  border: 1px solid #404040;
  border-radius: 8px;
  margin-top: 6px;
}

.AssetSearching button {
  position: absolute;
  right: 15px;
  padding-top: 12px;
}
.assetsValue span {
  display: flex;
  background: #2d2d2d;
  padding: 2px 7px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  //text-transform: uppercase;
  font-size: 16px;
  margin: 0px 4px 8px;
}

.assetsValue span img {
  margin-right: 6px;
}

.assetsValue span:hover {
  background: #464646;
}
.cz-tokens-mobile {
  display: none;
}
span.marketDown {
  position: relative;
  color: #c83e93;
  padding-left: 10px;
}
span.marketDown {
  position: relative;
  color: #c83e93 !important;
}

span.marketDown:before {
  content: "";
  float: left;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #c83e93;
  position: absolute;
  left: 0;
  top: 50%;
}
span.marketDown:before {
  content: "";
  float: left;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #c83e93;
  position: absolute;
  left: 0;
  top: 50%;
}

span.marketUp {
  position: relative;
  color: #32fe9a !important;
  padding-left: 10px;
}

span.marketUp:before {
  content: "";
  float: left;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid #32fe9a;
  position: absolute;
  left: 0;
  top: 50%;
}
.start-learning-card .swiper-slide img {
  width: 100%;
  display: block;
  height: 220px;
  object-fit: cover;
}

.start-learning-card {
  margin-top: 20px;
}

.start-learning-card .swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}

.articleBox {
  margin-top: -5px;
  max-width: 100%;
  overflow-x: hidden;
}

.start-learning-card .swiper-slide .content {
  background: #1b1b1b;
  padding: 25px 25px 40px;
  font-size: 20px;
  color: white;
  height: 200px;
}

.start-learning-card .swiper-slide .content .description {
  font-size: 16px;
  margin-top: 10px;
}
.wizardDoneItems p {
  padding: 0;
  margin: 0;
}

.farmWizard1 h6 p {
  margin: 0;
  font-weight: 100;
}

ul.wizardAssets {
  width: 520px;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}

ul.wizardAssets > li {
  background: #2d2d2d;
  border-radius: 5px;
  margin: 0 0 10px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px 0 10px;
}

.assetsLeft {
  width: 50%;
  display: flex;
  align-items: center;
}

.assetsRight {
  width: 50%;
  display: flex;
  align-items: center;
  height: 33px;
  justify-content: space-between;
}

.assetsLeft p {
  margin: 0;
  font-size: 12px;
  padding: 0;
}
.MuiSlider-root {
  color: #333 !important;
}
.MuiSlider-thumb.MuiSlider-active,
.MuiSlider-thumb {
  box-shadow: none !important;
}
span.PrivateValueLabel-circle-4 {
  background: #c83e93;
}
.MuiSlider-thumb {
  background-color: #c83e93 !important;
}
.assetsLeft b {
  width: 70px;
}

.assetsLeftValue {
  background: #1b1b1b85;
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% - 70px);
  margin-right: 3px !important;
  position: relative;
  border-radius: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.assetsRightValue {
  height: 100%;
  display: flex;
  align-items: center;
  background: #1b1b1b85;
  width: 70px;
  justify-content: center;
  border-radius: 3px;
}

// .assetsLeftValue i {
//   position: absolute;
//   background: #C83E93;
//   right: 0;
//   width: 26px;
//   height: 26px;
//   border-radius: 100%;
//   display: flex;
//   align-items: center;
//   font-size: 12px;
//   justify-content: center;
//   font-style: normal;
// }

// .assetsLeftValue ul {
//   width: calc(100% - 20px);
//   height: 3px;
//   background: #2a2a2a;
//   border-radius: 2px;
//   margin-left: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .assetsLeftValue ul li {
//   width: 3px;
//   height: 3px;
//   background: #424242;
//   border-radius: 5px;
// }

.assetsTotalValue {
  width: 520px;
  margin: 0 auto !important;
  background: #2d2d2d;
  border-radius: 5px;
  padding: 15px;
  max-width: calc(100% - 30px);
}

.Loopbeta {
  margin: 25px 0;
}
.LoopBetaTags a {
  color: white;
  text-decoration: underline;
}
.assetsTotalValue p {
  text-align: right;
  margin: 0;
  padding: 0;
}

.assetsTotalValue p b {
  color: #0998b9;
}

.assetsTotalValue p i {
  font-style: normal;
  color: #32fe99;
}

.assetsTotalValue + p {
  color: #888;
  margin-bottom: 30px;
}
.farmWizard1 {
  background: #1b1b1b;
  box-shadow: 0px 4px 60px rgba(244, 110, 193, 0.7);
  border-radius: 15px;
  max-width: calc(100% - 30px);
  width: 570px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.farmWizard1 h1 {
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 20px 15px;
}

span.closeWizard {
  position: absolute;
  right: 15px;
  top: 15px;
  transform: rotate(45deg);
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
  cursor: pointer;
}

ul.wizardSteps li.wizardActive {
  background: #c83e93;
  color: #1b1b1b;
}

ul.wizardSteps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

ul.wizardSteps:before {
  position: absolute;
  content: "";
  height: 3px;
  background: #2d2d2d;
  width: 90%;
  left: 5%;
  z-index: -1;
}

ul.wizardSteps li {
  background: #1b1b1b;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 34px;
  border: 2px solid #2d2d2d;
  border-radius: 100px;
  font-size: 19px;
  color: #ffffff99;
}
ul.wizardSteps li b {
  font-weight: 500;
}
ul.wizardSteps li.wizardActive b {
  border-color: #c83e93;
}
ul.wizardSteps li.wizardActiveDone b {
  font-weight: 500;
  border-radius: 100px;
  border: 2px solid #32fe99;
  width: 34px;
  display: block;
  height: 34px;
  line-height: 31px;
}
.farmWizard1 h6 {
  font-size: 19px;
  text-align: center;
  color: white;
  padding: 20px 0;
}

ul.wizardCheck {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
}

ul.wizardCheck li {
  background: #2d2d2d;
  border-radius: 5px;
  margin: 0 0 10px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
ul.wizardSteps li.wizardActiveDone {
  color: #32fe9a;
}

.farmWizard1 h6 p {
  margin: 0;
  font-weight: 100;
}
.assetsTotalValue + p + button {
  width: 230px;
}
.wizardDoneItems {
  text-align: center;
  background: #2d2d2d;
  padding: 10px;
  width: 330px;
  margin: 0 auto !important;
  border-radius: 6px;
  color: white;
  line-height: 26px;
  max-width: calc(100% - 30px);
}
.wizardDoneItems p {
  padding: 0;
  margin: 0;
}
.wizardDoneItems b {
  font-weight: 600;
}

.wizardDoneItems p span {
  padding-left: 15px;
  position: relative;
  color: #32fe9a;
  margin-left: 7px;
}

.wizardDoneItems p span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #32fe9a;
  position: absolute;
  left: 0;
  top: 6px;
}

ul.wizardCheck li span {
  padding-left: 15px;
  width: 85px;
  color: #32fe9a;
  font-size: 12px;
  position: relative;
}
ul.wizardCheck li span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid #32fe9a;
  position: absolute;
  left: 0;
  top: 4px;
}
ul.wizardCheck li label {
  width: 90px;
  font-weight: 600;
  color: white;
}
.WizardChecked {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1.5px solid white;
}
ul.wizardSteps li.wizardActiveDone {
  color: #32fe9a;
}
.WizardChecked input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.WizardChecked input:checked + div {
  width: 12px;
  height: 12px;
  float: left;
  background: #c83e93;
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  border-radius: 1px;
}
span b {
  color: white;
  font-weight: normal;
}

.farmWizard1 button {
  background: #c83e93;
  border-radius: 8px;
  width: 186px;
  height: 42px;
  margin: 25px auto 25px;
  display: block;
  color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.farmWizard1 button b {
  width: 22px;
  height: 2px;
  background: #2b2b2b;
  margin-left: 10px;
  position: relative;
}

.farmWizard1 button b:before {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  top: -4px;
  border-right: 2px solid;
  border-top: 2px solid;
  transform: rotate(45deg);
}
#loop {
  @include app;
}
.contents * {
  transition: all 0.5s ease-in-out;
}
.contents {
  // overflow: auto !important;
  padding: 80px 40px 40px;
  width: calc(100% - 233px);
  padding-top: 80px !important;
  float: right;
  transition: all 0.5s ease-in-out;
  @media (max-width: 991px) and (min-width: 320px) {
    .contents .cz-tokens-mobile-td.cz-left-td:last-child .ui.grid {
      padding: 0;
    }
    .cz-tokens-mobile {
      width: 893px !important;
      margin: 0px auto 10px !important;
      background: #1b1b1b;
      border-radius: 10px;
      overflow: auto;
      display: block;
      max-width: 95%;
      border-radius: 15px;

    }

    .cz-tokens-mobile h3 {
      padding-top: 15px;
      padding-left: 20px;
      color: #fff;
      font-size: 16px;
      padding-bottom: 5px;
    }
    .cz-tokens-mobile-tr
      div
      .cz-tokens-mobile-td.cz-left-td:last-child
      .ui.grid {
      padding-left: 0;
    }
    .cz-tokens-mobile span.sub {
      padding-left: 20px;
      font-weight: 400;
      font-size: 12px;
      text-transform: capitalize;
      margin-bottom: 15px;
      float: left;
      width: 100%;
    }

    .cz-tokens-mobile-tr div:nth-child(even) {
      background: #272727;
    }

    .cz-tokens-mobile-tr div * {
      background: none !important;
    }

    .cz-tokens-mobile-td.cz-left-td {
      float: left;
      width: 50%;
      padding: 8px 10px;
    }

    .cz-tokens-mobile-td.cz-left-td .labeling {
      position: relative;
    }

    .cz-tokens-mobile-tr div {
      float: left;
      width: 100%;
    }

    .cz-tokens-mobile-td.cz-left-td .labeling .icon-table img {
      position: absolute;
      left: -50px;
      top: 0px;
    }

    .cz-tokens-mobile-td.cz-left-td .ui.grid {
      padding-left: 55px;
      font-size: 11px;
      color: #999;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .cz-tokens-mobile-td.cz-left-td .ui.grid p {
      font-size: 14px !important;
      color: white;
      display: flex;
    }

    .cz-tokens-mobile-td.cz-left-td span.marketDown {
      padding-left: 10px;
    }

    .cz-tokens-mobile-td.cz-left-td span.marketDown::before {
      top: 7px;
    }

    .cz-tokens-mobile-td.cz-left-td span.marketUp {
      padding-left: 10px;
    }

    .cz-tokens-mobile-td.cz-left-td span.marketUp::before {
      top: 7px;
    }

    .cz-tokens-mobile-td.cz-left-td .ui.grid a button {
      margin: 0;
      padding: 0 !important;
      width: 24px;
      height: 24px;
      background: rgba(45, 45, 45, 0.35) !important;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      margin-top: 3px;
    }

    .cz-tokens-mobile-td.cz-left-td .ui.grid .BtnTrade .button.btn {
      background: #2d2d2d !important;
      border: none !important;
      border-radius: 5px;
      padding: 10px 15px !important;
      color: #c83e93 !important;
      font-weight: 400;
      font-size: 14px;
      width: auto;
      height: 28px;
    }
  }
  @media (max-width: 540px) {
    ul.wizardAssets > li {
      flex-direction: column;
      height: auto;
      padding-left: 2px;
      padding-bottom: 2px;
      align-items: flex-start;
    }

    .assetsRight {
      width: 100%;
    }

    .assetsLeft {
      padding: 8px 0 8px 10px;
      width: 100%;
    }

    .assetsLeft b {
      width: auto;
      margin-right: 15px;
    }
  }
  @media (max-width: 360px) {
    ul.wizardSteps {
      max-width: 270px;
    }
  }
  @include mobile {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }
}
header.toggle_header + .contents {
  width: calc(100% - 65px);
}

.main {
  width: 100%;
}
.CzBlurPopup {
  filter: blur(10px);
}
.CzmainOverlay {
  position: fixed;
  background: rgba(196, 196, 196, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.CzmainOverlay.CzmainOverlayShow {
  display: block;
}
.CzmainPopup {
  width: calc(100% - 40px);
  max-width: 500px;
  z-index: 2;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #1b1b1b;
  box-shadow: 0px 4px 60px rgba(244, 110, 193, 0.7);
  border-radius: 15px;
  text-align: center;
  padding: 48px 70px;
  @include mobile {
    padding: 30px;
  }
}
.hideMenu {
  @include mobile {
    max-height: 1000px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
}

.CzExchangeSet {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  @include mobile {
    max-height: 0;
    overflow: hidden;
  }
}
.CzmainPopup h3 {
  font-size: 19px;
  color: white;
  font-weight: 700;
}
.CzmainPopup b {
  font-weight: 700;
  color: #c83e93;
}
.CzmainPopup i {
  color: #1da1f2;
  font-style: normal;
  text-transform: capitalize;
}
.CzmainPopup p {
  color: white;
}
.CzmainPopup span {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.CzmainPopup a {
  margin: 0 5px;
}
.CzmainPopup img {
  padding: 0;
}
button.CzmainPopupClose {
  position: absolute;
  right: 18px;
  top: 8px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}

.discordImg {
  width: 50px;
  height: 50px;
}

.CzmainPopup .CzLetsdo {
  max-width: 254px;
  width: 100%;
  height: 52px;
  background: #c83e93;
  border-radius: 10px;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
}
.CzmainPopup span + p {
  margin-top: 10px;
}

.transak_close svg {
  fill: #d7d7d7;
}

@include mobile {
  header > div {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .onscroll > header > div {
    @include mobile {
      padding: 0 12px;
    }
  }
  header.header:before {
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    content: "";
    z-index: 1;
    right: 0;
  }
  header.header h1 + button {
    filter: blur(3px);
  }
  header.header + .contents {
    filter: blur(0px);
  }
  header.header + .contents:before {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    content: "";
    z-index: 1;
    opacity: 0;
  }
  .transak_close svg {
    fill: #d7d7d7;
  }
  .overlayPop {
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
  }
  .overlayPop1 {
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    display: none;
  }
}

// swiper design start
.feedSwiper {
  height: 100%;
  border-radius: 15px;
}
.LoopinHub {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.assetsValue {
  align-items: center;
}
@media only screen and (max-width: 1150px) {
  .LoopinHub {
    flex-direction: column;
    align-items: center;
  }

  .LoopinHub > div {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 1150px) {
  .LoopinHub {
    margin-top: 0;
  }
}

.dashboardLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px;
}

.dashboardLoaderInline {
  position: relative;
  margin: 10px;
}

@media only screen and (max-width: 1280px) {
  .stateSwap {
    max-width: 325px;
    min-width: 325px;
  }
  .assetsValue span {
    font-size: 12px;
  }

  .assetsValue span img {
    width: 20px;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .stateSwap header + section {
    padding: 0 !important;
  }
}

.tippy-arrow::before{
  border-bottom-color: #404040 !important;
  border-top-color: unset !important;
} 
.tippy-box{
  background-color: unset !important;
  border: unset !important;
}