@import "../styles/mixins";
@import "../styles/variables";

.component {
  max-width: $modal-width;
  margin: 0 auto;
}

.title {
  color: $white-92;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}

.button {
  @include flex(space-between);
  flex-direction: row-reverse !important;
  background-color: $pink;
  border-radius: 8px;
  color: $blue;
  font-weight: 500;
  padding: 15px 28px;
  width: 100%;
  color: #1b1b1b;

  & + & {
    margin-top: 20px;
  }
  img{
    background-color: black;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }
}
