@import "../styles/mixins";

.button {
  @include flex;
  margin-left: 15px;
  color: $blue;
  display: none;
}

.card {
  width: 310px;
}
.buyMobile{display: none;}
@media only screen and (max-width: 991px) {
  .mobileBuy{
    display: none;
  }
.buyMobile{display: flex;
  align-items: center;
  flex-direction: initial !important;
  position: relative;
  right: -66px;
  padding:  5px !important;
  width: auto !important;
  font-size: 12px;
  color: #01cdfd !important;
  float: right;
  background: #292727;
  border-radius: 5px;
  margin-top: 10px;
  display: none;
}
.buyMobile i{font-size: 12px; margin-right: 5px;}
}
