@import "../../../styles/mixins";

$padding: 20px;

.component {
  //height: 100%;
  background: $theme_black_color;
  border-radius: 20px;
  padding-bottom: 15px;
  // padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile {
    margin-top: 0px;
  }
}

.header {
  @include desktop {
    @include flex(space-between);
  }

  padding-bottom: 14px;
  @media only screen and (max-width: 1390px) and (min-width: 990px) {
    display: flex;
    flex-direction: column;
  }
}

.token {
  @include flex(flex-start);
  font-size: 16px;
  font-weight: 700;
}

.symbol {
  font-family: Lexend;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* white - text #FFFFFF */

  color: #ffffff;
  padding-right: 8px;
}

.price {
  margin-left: 5px;
  color: #c83e93;
}

.ranges {
  background-color: rgba(45, 45, 45, 0.5);
  padding: 2px;
  border-radius: 10px;
  @include mobile {
    margin-top: 10px;
  }

  .button:not(:first-child) {
    margin-left: 10px;
  }
  @media only screen and (max-width: 1390px) and (min-width: 990px) {
    margin: 10px 0;
  }
}

.button {
  @include transition;

  border-style: solid;
  font-size: 11px;
  font-weight: 500;
  border-radius: 10px;
  width: 30px;
  height: 30px;

  &.active {
    background-color: $theme_black_color;
    border-color: white;
    color: white;
  }
}

.description {
  padding: $padding;
  padding-top: 0;
}
